<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
  <firebase-ui></firebase-ui>

  <h1 *ngIf="afAuth.auth.currentUser">
    Welcome {{afAuth.auth.currentUser.displayName}}
  </h1>

  <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button>

  -->
<div style="margin-top: 10px; padding: 0px 20px 0px 20px;">
  <div *ngIf="auth.user$ | async as user; else login">
    {{user | json}}
    <hr>
    <ion-button (click)="auth.signOut()">Sign Out</ion-button>
  </div>

  <ng-template #login>
    <ion-button expand="full" (click)="auth.googleSignin()">
      Login with google <ion-icon name="logo-google"></ion-icon>
    </ion-button>
  </ng-template>
</div>

</ion-content>
