<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
  <firebase-ui></firebase-ui>

  <h1 *ngIf="afAuth.auth.currentUser">
    Welcome {{afAuth.auth.currentUser.displayName}}
  </h1>

  <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button>

  -->

  <div *ngIf="auth.user$ | async as user; else login">
    {{user | json}}
    <hr>
    <ion-button>Sign Out</ion-button>
  </div>

  <ng-template #login>
    <ion-button (click)="auth.googleSignin()">Login with google</ion-button>
  </ng-template>
</ion-content>
